#experience {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
          "caroussel"
          "caroussel";
  .content{
    grid-area: caroussel;
    align-self: center;
    justify-self: stretch;

    .Mon-caroussel{

      .caroussel {
        position: relative;
        margin-top: 2em;

        .caroussel__container {
          transition: transform .3s;
          transform: translate3d(0, 0, 0);
        }
        .caroussel__container::after {
          content: "" !important;
          clear: both !important;
          display: table !important;
        }
        .caroussel__item {
          text-align: center;
          float: left;
          z-index: 0;
        }
        .item{
          width: 70%;
          margin: auto;
        }
        .caroussel__next, .caroussel__previous {
          @include Caroussel_Arrow();
        }
        .caroussel__previous {
          @include Caroussel_Arrow();
          right: auto;
          left: 0;
        }
        .caroussel_previous--hidden, .caroussel_next--hidden {
          opacity: 0;
        }
        .item__title{
          font-size: $smedium-large-font-size;
          h3{
            font-size: $large-font-size;
            padding: 10px 0;
          }
        }
        .item-description{
          padding: 20px 0;
          width: 50%;
          margin: auto;
          line-height: 1.2em;
          text-align: justify;
        }
          font-size: $smedium-large-font-size;
          margin-bottom: 20px;
          h3{
            font-size: $large-font-size;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
