@mixin Caroussel_Arrow ($url, $color: $light-gray) {
  position: absolute;
  width: 15px;
  height: 15px;
  background: $color url($url) center center no-repeat;
  background-size: 7.5px 7.5px;
  border-radius:  50%;
  top: 50%;
  margin: -7.5px 40px 0 40px;
  right: 0;
  cursor: pointer;
  transition: transform .3s, opacity .3s;
  &:hover {
    transform: scale(2);
  }

}