@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans|Raleway|Roboto|Roboto+Slab|Slabo+27px&display=swap');
// FONTS
$base-font-size: 16px !default;

$small-font-size: 0.7em !default;
$medium-font-size: 1em !default;
$smedium-large-font-size: 1.5em !default;
$large-font-size: 2em !default;
$extra-large-font-size: 2.8em !default;

//FONT-FAMILYS
$sans-serif: sans-serif !default;

$font-Roboto: 'Roboto', sans-serif;
$font-Open-Sans: 'Open Sans', sans-serif;
$font-Roboto-Slab: 'Roboto Slab', serif;
$font-Raleway: 'Raleway', sans-serif;
$font-Slabo: 'Slabo 27px', serif;
$font-Fira-Sans: 'Fira Sans', sans-serif;

//COLORS
$light-smoke: whitesmoke;

$light-gray: rgb(153, 153, 153);
$light-medium-gray: rgb(119, 119, 119);
$medium-gray: rgb(85, 85, 85);
$medium-dark-gray: rgb(51, 51, 51);
$dark-gray: rgb(17, 17, 17);

$hover-orange: #e59100;


$zero: 0;

@media only screen and (max-width: 540px){
    $base-font-size: 10px;
}